{% extends 'base.html' %}

{% block main%}
    <div class="row">
        <div class="col-sm">
            um
        </div>
        <div class="col-sm">
            tres {{ usuario.colaborador.nome }}
            <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionarios</a>
        </div>
        <div class="col-sm">
            {% if usuario.colaborador.empresa %}
                <a href="{% url 'edit_empresa' usuario.colaborador.empresa.id %}">Editar Empresa</a>
            {% else %}
                <a href="{% url 'create_empresa' %}">Criar Empresa</a>
            {% endif%}
        </div>
        <div class="col-sm">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
{% endblock %}